.App {
  width: 400;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  font-size: 16px;
}

.color-red {
  color: red;
}

.color-green {
  color: darkgreen;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
}
